---
layout: nil
---

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight, .highlight .w { color: #d0d0d0; }

.highlight .err { color: #151515; background-color: #ac4142; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs { color: #888; }

.highlight .cp { color: #f4bf75; }

.highlight .nt { color: #f4bf75; }

.highlight .o, .highlight .ow { color: #d0d0d0; }

.highlight .p, .highlight .pi { color: #d0d0d0; }

.highlight .gi { color: #90a959; }

.highlight .gd { color: #ac4142; }

.highlight .gh { color: #6a9fb5; font-weight: bold; }

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #aa759f; }

.highlight .kc { color: #d28445; }

.highlight .kt { color: #d28445; }

.highlight .kd { color: #d28445; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #90a959; }

.highlight .sr { color: #75b5aa; }

.highlight .si { color: #8f5536; }

.highlight .se { color: #8f5536; }

.highlight .nn { color: #f4bf75; }

.highlight .nc { color: #f4bf75; }

.highlight .no { color: #f4bf75; }

.highlight .na { color: #6a9fb5; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx { color: #90a959; }

.highlight .ss { color: #90a959; }

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { padding: 0; margin: 0; font: inherit; font-size: 100%; vertical-align: baseline; border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }



ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-spacing: 0; border-collapse: collapse; }

/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  background: #ccc;
}

a {
  color: #ffcc33;
}

a:hover {
  color: #333;
}

header, footer {
    background: #245;
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

header, footer a { color: #fc3; }

header, footer a:hover { color: #ccc; }

header {
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  z-index: 2;
}

header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #333;
  letter-spacing: -1px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.footer-inner {
  width: 85%;
  padding-bottom: 10px;
  margin: 0 auto;
}

#footer-left {
  float: left;
  text-align: left;
  clear: left;
}

#footer-right {
  float: right;
  text-align: right;
  clear: right;
}

#footer-middle {
  text-align: center;
  font-size: 16px;
  clear: both;
}

.navbar {
  width: 85%;
  margin: 0 auto;
}

.navbar select {
  display: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    list-style: none;
}

.navbar li a {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}

#container {
  width: 100%;
  height: 100%;
}

.inner {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

#sidebar {
  float: left;
  clear: left;
  text-align: right;
  max-width: 150px;
}

#content-right {
  float: left;
  clear: right;
  padding-left: 10px;
  margin-left: 160px;
  border-left: none;
}

code, pre { margin-bottom: 30px; font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal; font-size: 14px; color: #222; }

code { padding: 0 3px; background-color: #f2f2f2; border: solid 1px #ccc; }

pre { padding: 20px; overflow: auto; color: #f2f2f2; text-shadow: none; background: #303030; }

pre code { padding: 0; color: #f2f2f2; background-color: #303030; border: none; }

ul, ol, dl { margin-bottom: 20px; }

/* COMMON STYLES */
hr { height: 1px; padding-bottom: 1em; margin-top: 1em; line-height: 1px; background: transparent url("../images/hr.png") 50% 0 no-repeat; border: none; }

strong { font-weight: bold; }

em { font-style: italic; }

table { width: 100%; border: none; }

table { background-color: #ccc; }

th { font-weight: 500; }

td { font-weight: 300; text-align: center; border: none; vertical-align: middle; }
tr { font-weight: 300; text-align: center; border: none; vertical-align: middle; }

form { padding: 20px; background: #f2f2f2; }

/* GENERAL ELEMENT TYPE STYLES */
h1 { font-size: 32px; }

h2 { margin-bottom: 8px; font-size: 22px; font-weight: bold; color: #303030; }

h3 { margin-bottom: 8px; font-size: 18px; font-weight: bold; color: #d5000d; }

h4 { font-size: 16px; font-weight: bold; color: #303030; }

h5 { font-size: 1em; color: #303030; }

h6 { font-size: .8em; color: #303030; }

p { margin-bottom: 20px; font-weight: 300; }

a { text-decoration: none; }

p a { font-weight: 400; }

blockquote { padding: 0 0 0 30px; margin-bottom: 20px; font-size: 1.6em; border-left: 10px solid #e9e9e9; }

ul li { list-style-position: inside; list-style: disc; padding-left: 20px; }

ol li { list-style-position: inside; list-style: decimal; padding-left: 3px; }

dl dt { color: #303030; }

@media (max-width: 960px) {
  header { padding-top: 10px; padding-bottom: 10px; }
  nav ul     { display: none; }
  nav select { display: inline-block; }
  .inner { width: 94%; margin: 0 auto; } }
}
