<footer id="footer">
    <div class="inner">
        <ul class="menu">
    <li>
        <a href="https://dronecan.org/discord">https://dronecan.org/discord</a>
    </li>
    <li>
        <a href="https://github.com/DroneCAN">https://github.com/DroneCAN</a>
    </li>
            <li>
                <a href="https://github.com/dronecan/dronecan.github.io/issues/new?title=Problem+on+page+{{ page.url | cgi_escape }}" target="_blank">Report a problem with this website</a>
            </li>
        </ul>
        <p class="copyright">Generated {{ site.time | date_to_rfc822 }} &copy; DroneCAN development team</p>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
