<head>
  <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="DroneCAN">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="DroneCAN.org" />
  <meta property="og:site" content="DroneCAN.org" />
  <meta property="og:title" content="DroneCAN">
  <meta property="og:description" content="{{ site.description }}" /> <!-- description shown in the actual shared post -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.dronecan.org">
  <meta property="og:image" content="">

  <link rel="canonical" href="https://www.dronecan.org"/>

</head>
