<style>

.navbar {
	background-color: #EEE;
    //color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    list-style: none;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #FFCC22;
}

.navbar .active {
    background-color: #FFCC33;
}
</style>

<div class="navbar">
<ul>
<li style="float:left"><a href="{{ index.html }}">DroneCAN</a></li>
<li><a href="#specification">Specification</a></li>
</ul>
</div>
